<div class="form-group">
            <label class="form-control-label" for="field_code">CODE</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="badge.code" required />
</div>
<div class="form-group">
            <label class="form-control-label" for="field_matricule">MATRICULE</label>
            <input type="text" class="form-control" name="matricule" id="field_matricule"
                [(ngModel)]="badge.matricule" required />
</div>
<div class="form-group">
            <label class="form-control-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id"
                [(ngModel)]="badge.id" required />
</div>
