<div class="form-group">
            <label class="form-control-label" for="field_code">CODE</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="employe.code" required />
</div>
<div class="form-group">
            <label class="form-control-label" for="field_matricule">MATRICULE</label>
            <input type="text" class="form-control" name="matricule" id="field_matricule"
                [(ngModel)]="employe.matricule" required />
</div>
<div class="form-group">
            <label class="form-control-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id"
                [(ngModel)]="employe.id" required />
</div>
<div class="form-group">
            <label class="form-control-label" for="field_nom">NOM</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="employe.nom" required />
</div>
<div class="form-group">
            <label class="form-control-label" for="field_prenom">PRENOM</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="employe.prenom" required />
</div>
